<div id="<%= dom_id post %>">
  <% post.images.each do |image| %>
    <%= image_tag(image, style: "object-fit:contain; width:200px; height:200px;") %>
  <% end %>

  <p><strong><%= post.title %></strong></p>
  <p><%= post.description %></p>
</div>
