<p style="color: green"><%= notice %></p>

<h1>Gallery</h1>

<div class="container" id="posts">
  <% @posts.in_groups_of(3, false).each do |group| %>
    <div class="row">
      <% group.each do |post| %>
        <div class="col-sm-4">
          <%= render post %>
          <%= link_to "Show more", post %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
